.button {
  color: var(--color-main);
  font-weight: bold;
  border: solid 3px var(--color-main);
  border-radius: .375rem;
  padding: .5rem 1rem;
  cursor: pointer;
  background: none;
  position: relative;
}
