.fill-underline.active::after,
.fill-underline:hover::after {
    content: '';
    height: 3px;
    margin-top: 3px;
    display: block;
    width: 0;
    background-color: var(--color-main);
    animation: fill-background .3s forwards;
}

@keyframes fill-background {
    to {
        width: 100%;
    }
}
