@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Spectral:wght@700&display=swap');
@import url('./reset.css');
@import url('./animation.css');

* {
    scroll-behavior: smooth;
}

body {
    --type-main: 'Montserrat', sans-serif;
    --type-title: 'Alfa Slab One', cursive;
    --color-main: #fff;
    --color-secondary: #be91ce;
    --color-bg-1: #100B21;
    --color-bg-1-glass: #0a0819e1;
    --color-bg-2: #291745;
    --color-bg-2-glass: #2d2644de;
    --color-emphasys: #A849C0;

    font-family: var(--type-main);
    background-color: var(--color-bg-1);
    color: var(--color-secondary);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background-image: linear-gradient(var(--color-bg-1), var(--color-bg-2));
    width: .65rem;
}
body::-webkit-scrollbar-track {
    margin-top: 1rem
}
body::-webkit-scrollbar-thumb {
    border: solid 1px var(--color-secondary);
    border-radius: 5rem;
}

strong {
    font-weight: normal;
    color: var(--color-main);
}

.container {
    max-width: 83rem;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    max-width: 83rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.section-container {
    margin-bottom: 40vh;
    padding-top: 5rem;
}

.button-main {
  color: var(--color-emphasys);
  font-weight: bold;
  border: solid 3px var(--color-emphasys);
  border-radius: .375rem;
  padding: .7rem 1.5rem;
  cursor: pointer;
  background: none;
  position: relative;
}

.button-main::before {
    background-color: var(--color-emphasys);
}

.title {
    font-family: var(--type-title);
    font-weight: normal;
}

.title-secondary {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-emphasys);
}

.glass-card {
    background: linear-gradient(to bottom right, #4c3679be, #00000000);
    border: solid 1px #c37ddd80;
    box-shadow: 0px 0px 3px #c37ddd;
    backdrop-filter: blur(10px);
}

@media (max-width: 40rem) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .section-container:first-of-type {
        padding-top: 0;
        margin-top: 0;
    }

    .title {
        font-size: 2rem;
    }
}
