@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Spectral:wght@700&display=swap');
@import url('./reset.css');
@import url('./animation.css');

body {
    --type-main: 'Montserrat Alternates', sans-serif;
    --type-title: 'Alfa Slab One', cursive;
    --color-main: #fff;
    --color-secondary: #acacac;
    --color-bg-1: #0A0819;
    --color-bg-2: #2D2644;
    --color-emphasys: #A849C0;

    font-family: var(--type-main);
    background: linear-gradient(var(--color-bg-1), var(--color-bg-2));
    color: var(--color-secondary);
}

.body {
    height: 100vh;
    overflow: auto;
}

.body::-webkit-scrollbar {
    background-color: transparent;
    width: .65rem;
}
.body::-webkit-scrollbar-thumb {
    border: solid 1px var(--color-secondary);
    border-radius: 5rem;
}

strong {
    font-weight: normal;
    color: var(--color-main);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 3rem;
}

.section-container {
    margin-bottom: 40vh;
}

.button-main {
  color: var(--color-emphasys);
  font-weight: bold;
  border: solid 3px var(--color-emphasys);
  border-radius: .375rem;
  padding: .7rem 1.5rem;
  cursor: pointer;
  background: none;
  position: relative;
}

.button-main::before {
    background-color: var(--color-emphasys);
}

.title {
    font-family: var(--type-title);
    font-weight: normal;
}

.title-secondary {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-emphasys);
    /* -webkit-text-stroke: 2px var(--color-main); */
}
