.infoCard {
  grid-column: 7/13;
  padding: 2rem 2rem 3rem 2rem;
  align-self: center;
  border-radius: .5rem;
}

.svgContainer {
  grid-column: 1/7;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.active .svgContainer {
  animation: svg-enter .5s forwards;
}

@keyframes svg-enter {
  from { transform: translateX(-20rem); opacity: 0; }
  to { transform: translateX(0); opacity: 1;}
}

.active .svgContainer svg{
  animation: move-svg 5s linear infinite;
}

@keyframes move-svg {
  0% { transform: translateY(-1rem); }
  50% { transform: translateY(0rem); }
  100% { transform: translateY(-1rem); }
}

.introSection p:first-of-type {
  margin-bottom: 1.5rem;
  opacity: 0;
}

.active.introSection p:first-of-type {
  animation: fade-in .5s forwards;
  animation-delay: .3s;
}

.introSection h1 {
  font-size: 2rem;
  color: var(--color-main);
  opacity: 0;
}

.active.introSection h1 {
  animation: fade-in .5s forwards;
  animation-delay: .5s;
}



.introSection h2 {
  margin-bottom: 2.5rem;
  opacity: 0;
  font-size: 1.8rem;
}

.active.introSection h2 {
  animation: fade-in .5s forwards;
  animation-delay: .7s;
}

.introSection h2::after {
  content: '';
  height: .5rem;
  background: none;
  border: solid 2px var(--color-emphasys);
  display: block;
  border-radius: .4rem;
  margin-top: .5rem;
  width: 0;
}

.active.introSection h2::after {
  animation: fill-bg .5s forwards;
  animation-delay: 1.1s;
}

.mainParagraph {
  margin-bottom: 3.5rem;
  opacity: 0;
}

.active .mainParagraph {
  animation: fade-in .5s forwards;
  animation-delay: .9s;
}

.introSection a {
  opacity: 0;
}

.active.introSection a {
  animation: fade-in .5s forwards;
  animation-delay: 1.1s;
}

@keyframes fade-in {
  from { transform: translateY(45px); }
  to { opacity: initial; transform: translateY(0); }
}

@keyframes fill-bg {
  to { width: 15%; }
}

@media (max-width: 40rem) {
  .infoCard {
    grid-column: 1/7;
  }

  .introSection {
    margin-top: 4rem;
  }

  .introSection p:first-of-type {
    margin-bottom: .5rem;
  }

  .introSection h1 {
    font-size: 1.8rem;
  }

  .introSection h2 {
    margin-bottom: 1.2rem;
  }

  .mainParagraph {
    margin-bottom: 2.5rem;

  }

  .introSection h2::after {
    height: .5rem;
    border-radius: .2rem;
    margin-top: .5rem;
  }

  .infoCard {
    padding: 1rem 1rem 2rem 1rem;
  }
}
