.bgContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(var(--color-bg-1), var(--color-bg-2));
    overflow: hidden;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.planet {
    position: absolute;
    background-image: linear-gradient(to bottom right, #8C10D8, #00000000 );
    height: 20rem;
    width: 20rem;
    top: -5rem;
    right: 10vw;
    border-radius: 50%;
    z-index: -100;
    opacity: .25;
}

.wave {
    width: 140vw;
    height: 140vw;
    border-radius: 50vw;
    background-color: #8C10D8;
    position: absolute;
    top: 100vh;
    z-index: -100;
    opacity: .1;
}

.wave1 {
    left: -70vw;
    transform: rotate(30deg);
    animation: rotation-1 20s linear infinite;
}

.wave2 {
    left: -20vw;
    /* animation-delay: 2s; */
    animation: rotation-2 30s linear infinite;
}

.wave3 {
    left: 30vw;
    /* animation-delay: 3s; */
    animation: rotation 30s linear infinite;
}

@keyframes rotation {
    100% { transform: rotate(360deg); }
}

@keyframes rotation-1 {
    0% { transform: rotate(30deg); }
    100% { transform: rotate(390deg); }
}

@keyframes rotation-2 {
    0% { transform: rotate(15deg); }
    100% { transform: rotate(375deg); }
}

@media (max-width: 40rem) {
  .planet {
    right: -7rem;
  }
}
