.header {
    margin-top: 1rem;
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.sticked {
    background-color: var(--color-bg-1-glass);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--color-bg-2);
    transform: translateY(-5rem);
    transition: .3s;
}

.active {
    transform: translateY(0);
    transition: .3s;
}

@media (max-width: 40rem) {
    .header {
        position: absolute;
        left: 0;
        right: 0;
    }
    .sticked {
        margin-top: 0;
    }
}