.header {
    margin-top: 1rem;
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 10;
    animation: slide-in .3s forwards;
    animation-delay: .3s;
    transform: translateY(-5rem);
}

@keyframes slide-in {
    to { transform: translatey(0);}
}

.sticked {
    backdrop-filter: blur(100px);
}

.contactIcons {
    grid-column: 4/7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.contactIcons i {
    font-size: 1.8rem;
    color: var(--color-font-dark);
}

.contactIcons i:hover {
    color: var(--color-emphasys);
}

@media (max-width: 40rem) {
    .header {
        margin-top: 0;
    }

    .contactIcons {
        grid-column: 2/6;
        justify-content: center;
    }
}