.projectsSection {

}

.headerContainer {
  grid-column: 1/13;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  position: relative;
}

.headerContainer h1::before,
.headerContainer h1::after {
  content: '';
  width: 3rem;
  height: 3px;
  display: block;
  background-color: var(--color-emphasys);
  position: absolute;
  top: 1.4rem;
}

.headerContainer h1::before {
  transform: translateX(-5rem);
}
.headerContainer h1::after {
  transform: translateX(20.3rem);
}
