.skillContainer {
  display: flex; 
  justify-content: center;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(5, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 1rem;
  font-weight: bold;
  color: var(--color-bg-1);
}

.skillGrid .skill {
  background-color: var(--color-bg-1-glass);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  cursor: pointer;
}

.javascriptGrid {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 1rem;
  grid-column: 1/4;
  grid-row: 1/4;
  position: relative;
  transition: .3s;
}

.javascriptGrid.active {
  transition: .3s;
}

.javascriptGrid .skill {
  background-color: #F3D950;
}

.javascriptGrid .skill:first-of-type {
  animation: unfill-js-grid .5s forwards;
}

.javascriptGrid.active .skill:first-of-type {
  grid-column: 1/4;
  grid-row: 1/4;
  animation: fill-grid .3s forwards;
}

.javascriptGrid.active .skill:not(:first-of-type),
.cssGrid.active .skill:not(:first-of-type) 
{
  opacity: 0;
}

.javascriptGrid:not(.active) .skill:not(:first-of-type),
.cssGrid:not(.active) .skill:not(:first-of-type) 
{
  animation: fade-in .5s forwards;
}

.cssGrid {
  display: grid;
  grid-template-columns: repeat(2, 6rem);
  grid-template-rows: repeat(2, 6rem);
  gap: 1rem;
  grid-column: 4/6;
  grid-row: 1/3;
}

.cssGrid .skill {
  background-color: #71C3FF;
}

.cssGrid .skill:first-of-type {
  animation: unfill-css-grid .3s forwards;
}

.cssGrid.active .skill:first-of-type {
  grid-column: 1/3;
  grid-row: 1/3;
  animation: fill-grid .3s forwards;
}

@media (max-width: 40rem) {
  .skillGrid {
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(5, 6rem);
  }

  .cssGrid {
    grid-column: 1/3;
    grid-row: 4/6;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fill-grid {
  from { width: 30%; height: 30%; }
  to { width: 100%; height: 100%; }
}

@keyframes unfill-js-grid {
  from { width: 300%; height: 300%; }
  to { width: 100%; height: 100%; }
}

@keyframes unfill-css-grid {
  from { width: 200%; height: 200%; }
  to { width: 100%; height: 100%; }
}
