.skillContainer {
  display: flex; 
  justify-content: center;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(5, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 1rem;
}

.skillGrid .skill {
  background-color: var(--color-bg-1-glass);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  cursor: pointer;
}

.javascriptGrid {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 1rem;
  grid-column: 1/4;
  grid-row: 1/4;
}

.cssGrid {
  display: grid;
  grid-template-columns: repeat(2, 6rem);
  grid-template-rows: repeat(2, 6rem);
  gap: 1rem;
  grid-column: 4/6;
  grid-row: 1/3;
}

@media (max-width: 40rem) {
  .skillGrid {
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(5, 6rem);
  }

  .cssGrid {
    grid-column: 1/3;
    grid-row: 4/6;
  }
}
