.bgContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(var(--color-bg-1), var(--color-bg-2));
    overflow: hidden;
}

.planet {
    position: absolute;
    background-image: linear-gradient(to bottom right, #8C10D8, #00000000 );
    height: 20rem;
    width: 20rem;
    top: -5rem;
    right: 10vw;
    border-radius: 50%;
    z-index: -100;
    opacity: .25;
}

.wave {
    width: 140vw;
    height: 140vw;
    border-radius: 50vw;
    background-color: #8C10D8;
    position: absolute;
    top: 100vh;
    z-index: -100;
    animation: rotation 30s linear infinite;
    opacity: .1;
}

.wave1 {
    left: -50vw;
}

.wave2 {
    left: 0vw;
    animation-duration: 35s;
    animation-delay: 1s;
}

.wave3 {
    left: 50vw;
    animation-duration: 40s;
    animation-delay: 2s;
}

@keyframes rotation {
    0% {
        transform: rotate(deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 40rem) {
  .planet {
    right: -7rem;
  }
}
