.footer {
  height: 8rem;
  border-top: solid 1px var(--color-emphasys);
  animation: footer-entry .5s forwards;
  opacity: 0;
  transition: .5s;
}

.footer.active {
  opacity: 1;
  transition: .5s;
}

.footer p{
  grid-column: 1/13; 
  text-align: center;
  text-justify: center;
  margin: auto;
  font-size: .875rem;
}
