.headerContainer {
  display: grid;
  gap: 2rem;
}

.headerContainer.center {
  grid-template-columns: 1fr auto 1fr;
}

.headerContainer.left {
  grid-template-columns: auto 1fr;
}

.headerContainer.right {
  grid-template-columns: 1fr auto;
}

.headerContainer div {
  height: 3px;
  width: 100%;
  background-color: var(--color-emphasys);
  margin-top: 1.2rem;
}

.headerContainer h1 {
  font-size: 2rem;
  position: relative;
}

@media (max-width: 40rem) {
  .headerContainer h1 {
    font-size: 1.5rem;
  }
}
