.introSection p:first-of-type {
  margin-bottom: 2rem;
}

.introSection p {
  margin-bottom: 4rem;
  max-width: 30rem;
}

.introSection h1, h2 {
  font-size: 3.5rem;
}

.introSection h1 {
  color: var(--color-main);
}

.introSection h2 {
  margin-bottom: 3rem;
}

.introSection h2::after {
  content: '';
  height: .6rem;
  width: 9rem;
  background-color: var(--color-secondary);
  display: block;
  border-radius: .15rem;
  margin-top: .7rem;
}
