.navContainer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navContainer a {
    color: var(--color-secondary);
    box-sizing: border-box;
    height: 20px
}

.navContainer a:hover,
.navContainer a:global(.active){
    color: var(--color-main)
}
