.navContainer {
    display: flex;
    gap: 2rem;
    align-items: center;
    grid-column: 7/13;
    justify-content: flex-end;
}

.navContainer a {
    color: var(--color-secondary);
    box-sizing: border-box;
    height: 20px
}

.navContainer a:hover,
.navContainer a:global(.active){
    color: var(--color-main)
}


.navContainer a:global(.active)::after {
    background-color: var(--color-emphasys);
}

@media (max-width: 40rem) {
    .navContainer {
        flex-direction: column;
        position: fixed;
        width: 12rem;
        top: 0rem;
        height: calc(100vh - 10rem);
        right: -21rem;
        align-items: flex-start;
        background-color: var(--color-bg-1-glass);
        backdrop-filter: blur(15px);
        padding: 5rem 3rem;
        transition: .3s;
        justify-content: flex-start;
    }

    .navContainer.active {
        right: 0;
    }

    .menuButton {
        grid-column: 6/7;
        align-self: center;
        justify-self: end;
    }
}